body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red-button{
  border: 4px #ff0000 solid;
}

.blue-button{
  border: 4px blue solid;
}

.green-button{
  border: 4px green solid;
}

.on {
  background-color: lightgreen;
}

.off {
  background-color: gray;
}
