html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

#root {
  width: 100%;
  height: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.red-button{
  border: 0.5em #ff0000 solid;
}

.blue-button{
  border: 0.5em blue solid;
}

.green-button{
  border: 0.5em green solid;
}

.red-button, .blue-button,.green-button {
  width: 30%;
  height: 20%;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.on {
  background-color: lightgreen;
}

.off {
  background-color: gray;
}
